* {
    border: 0;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background: url("../img/metal_texture.jpg") repeat;
}

#container {
    background-color: #0e0f55;
    background: linear-gradient(#0e0f55, #000955, #0243a9);
    background: -webkit-linear-gradient(#0e0f55, #000955, #0243a9);
    background: -moz-linear-gradient(#0e0f55, #000955, #0243a9);
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

h1 {
    font-family: 'Audiowide', cursive;
    color: #b8d844;
    font-size: 2em;
    text-align: center;
    padding-bottom: 0.6em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h2 {
    font-family: 'Source Code Pro', sans-serif;
    color: #b8d844;
    font-weight: 500;
    font-size: 1.4em;
    padding-bottom: 0.6em;
}

h3 {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 1.4em;
    color: #fff;
    padding-bottom: 0.6em;
}

p, h4 {
    font-family: 'Droid Sans', sans-serif;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.4em;
    padding-bottom: 0.6em;
}

a, a:visited {
    color: #b8d844;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

header {
    background: url("../img/stars.png") repeat;
    padding-top: 1em;
    text-align: center;
}

#logo {
    width: 100%;
    height: auto;
    /*max-width: 606px;*//*Fix logo size*/
    margin: auto;
    max-width: 500px;
}

#header-content {
    padding: 0 1em;
}

p#tagline {
    font-family: 'Audiowide', cursive;
    color: #fff;
    text-align: center;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    font-family: 'Audiowide', cursive;
    color: #b8d844;
    font-size: 1.4em;
}

@media all and (min-width: 750px) {
    #tagline {
        padding: 1em 0;
    }
    nav ul li {
        display: inline;
    }
    .menu_item + .menu_item {
        padding-left: 1em;
    }
}

@media all and (min-width: 1000px) {
    header {
        text-align: left;
    }
    #logo {
        margin: 20px 0;
        padding-left: 1em;
    }
    #header-content {
        float: right;
        width: 45%;
        margin-top: 10px;
        padding-left: 0;
    }
    p#tagline {
        text-align: right;
    }
    nav ul {
        text-align: right;
    }
    nav ul li {
        font-size: 1.2em;
    }
    header::after {
        clear: both;
        content: "";
        display: block;
    }
}

#banner img {
    max-width: 1200px;
    width: 100%;
    height: auto;
    border-top: 7px solid #5b3f7c;
    border-bottom: 2px solid #5b3f7c;
}

main,
aside,
footer {
    padding: 1em;
}

@media all and (min-width: 750px) {
    aside {
        float: right;
        width: 30%;
    }
    section {
        width: 70%;
        float: left;
        padding-right: 10px;
        margin-bottom: 2em;
    }
    .content-wrapper::after {
        content: "";
        display: block;
        clear: both;
    }
    .content-wrapper {
        margin-top: 10px;
    }
}

article {
    padding-bottom: 1em;
}

button, button:visited {
    font-family: 'Source Code Pro', sans-serif;
    color: #713de5;
    font-size: 1.5em;
    text-transform: uppercase;
    background-color: #b8d844;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px #95a534;
    width: 100%;
    max-width: 450px;
    padding: 0.5rem 0;
    height: auto;
    margin-bottom: 1em;
}

button:hover {
    background-color: #aac73f;
}

button:active {
    background-color: #aac73f;
    box-shadow: 0 5px #95a534;
    transform: translateY(5px);
}

button:focus {
    outline: none;
}

.multi-buttons {
    text-align: center;
}

@media all and (min-width: 750px) {
    .multi-buttons {
        text-align: left;
    }
    .multi-buttons button {
        width: 40%;
        display: inline;
        margin-left: 2em;
    }
}

aside {
    text-align: center;
}

aside article {
    text-align: left;
}

aside p span {
    font-size: 2em;
}

aside img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

footer {
    background-color: #5b3f7c;
    border-top: 2px solid #b8d844;
    text-align: center;
}

footer ul li {
    display: inline;
}

.icon + .icon {
    margin-left: 2em;
}

#social-media img {
    margin-top: 1em;
}

#social-media img:hover {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
}

@media all and (min-width: 750px) {
    footer {
        text-align: left;
        padding: 10px;
    }
    footer::after {
        display: block;
        content: "";
        clear:both;
    }
    #social-media {
        float: right;
        width: 50%;
        text-align: right;
    }
    #contact-info {
        float: left;
        width: 50%;
    }
}
/*HOME PAGE STYLES*/
.quotes_wrapper {
    border: 5px solid #b8d844;
    padding: 1em;
    border-radius: 10px;
    margin-top: 1em;
}

/*CONTACT PAGE STYLES*/
#gmap {
    width: 100%;
    max-width: 600px;
    height: 300px;
    margin: auto;
}
#gmap p {
    color: black;
}
@media all and (min-width: 750px) {
    #gmap {
        height: 400px;
    }
}
