/* Tabs container */
.r-tabs {
	position: relative;
    border: 1px solid #b8d844;
}

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: #b8d844;
    font-size: 1.2em;
    font-family: 'Source Code Pro', sans-serif;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;
	text-decoration: none;
	color: #5b3f7c;
}

/* Disabled tab */
.r-tabs .r-tabs-nav .r-tabs-state-disabled {
	opacity: 0.5;
}

/* Active state tab anchor */
.r-tabs .r-tabs-nav .r-tabs-state-active .r-tabs-anchor {
	color: #5b3f7c;
	background-color: white;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
    background-color: none;
}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: #b8d844;
	color: #5b3f7c;
	text-decoration: none;
    font-size: 1.2em;
    font-family: 'Source Code Pro', sans-serif;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #fff;
	color: #5b3f7c;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}
